# Maven
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/

# BugLens runtime data
Database/
logs/
uploads/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build
build/

!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# env file
.env

# RSA private key
.Documents/

# Databases and log uploads
../Database
../logs
../uploads